body {
  background-image: url("../images/farm.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-size: cover;
  height: 500px;
}

h1 {
  color: white;
}

a {
  font-size: 2em;
}

.card-horizontal {
  display: flex;
  flex: 2 1 auto;
}

#scrape {
  background-color: red;
}